.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
  grid-template-areas:
    "header header header header"
    "character-image character-bio character-comics search-history"
    "character-video character-video character-video character-video"
    "footer footer footer footer";
  grid-gap: 0.1rem;
}
header {
  background-color: black;
  grid-area: header;
}

#character-image {
  grid-area: character-image;
}
#character-bio {
  overflow: auto;
  grid-area: character-bio;
  margin-left: 100px;
  font-size: 25px;
}

#character-comics {
  grid-area: character-comics;
  margin-left: 100px;
}
#search-history {
  grid-area: search-history;
  margin-left: 100px;
}
#character-video {
  grid-area: character-video;
}
footer {
  background-color: black;
  grid-area: footer;
}
@media only screen and(max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 2.2fr 2.2fr 2.2fr 2.2fr 0.4fr;
    grid-template-areas:
      "header"
      "character-image"
      "character-bio"
      "character-comics"
      "search_history"
      "character-video"
      "footer";
  }
}
@media only screen and(max-width: 550px) {
  .marvel-image {
    height: 200px;
    width: 200px;
  }
}
